
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

    /* small screen, hidden by default */
@media only screen and (max-width: 770px ) 
    {
    nav li {
            display: block;
            background-color:white;
            }

    }

/* large screen, shown by default */
@media only screen and (min-width: 771px ) 
    {
    nav li {
            display: inline-block;
            background-color:white;
           }
    }

.active {
    background-color: lightgrey;
} 

nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
	
	header{
	color:white;
	background-color:#2576b0;
	padding:20px;
	}
	
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	
	th,
	td {
		padding: 5px;
		text-align: left;
	}
	
